@-webkit-keyframes stripe-slide {
  0% {
    background-position: 0% 0;
  }
  100% {
    background-position: 100% 0;
  }
}
@keyframes stripe-slide {
  0% {
    background-position: 0% 0;
  }
  100% {
    background-position: 100% 0;
  }
}
body {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  font-family: sans-serif;
}

.btn {
  overflow: visible;
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  font: inherit;
  line-height: normal;
  cursor: pointer;
  -moz-user-select: text;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  padding: 16px 36px 22px;
  background-color: #fff;
  color: #666;
  border: 2px solid #666;
  border-radius: 6px;
  margin-bottom: 16px;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}
.btn:-moz-focus-inner {
  padding: 0;
  border: 0;
}
.btn--stripe {
  overflow: hidden;
  position: relative;
}
.btn--stripe:after {
  content: '';
  display: block;
  height: 7px;
  width: 100%;
  background-image: repeating-linear-gradient(45deg, #666, #666 1px, transparent 2px, transparent 5px);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-top: 1px solid #666;
  position: absolute;
  left: 0;
  bottom: 0;
  background-size: 7px 7px;
}
.btn--stripe:hover {
  background-color: #666;
  color: #fff;
  border-color: #000;
}
.btn--stripe:hover:after {
  background-image: repeating-linear-gradient(45deg, #fff, #fff 1px, transparent 2px, transparent 5px);
  border-top: 1px solid #000;
  -webkit-animation: stripe-slide 12s infinite linear forwards;
          animation: stripe-slide 12s infinite linear forwards;
}
.btn--large {
  width: 50%;
}
.btn--radius {
  border-radius: 36px;
}

//LOGIN PAGES

.container {
  margin: 16rem auto;
  max-width: 700px;
}

form {
  margin: 2rem 0;
}
form:after {
  content: '';
  display: table;
  clear: both;
}
form .field {
  display: block;
  border: 1px solid #BDBDBD;
  float: left;
  width: 100%;
}
form .field.tnb {
  border-top: 0;
}
form .field.half {
  width: 50%;
}
form .field.last {
  border-left: 0;
}
form .field label {
  display: block;
  font-size: 1.2rem;
  padding: 1.5rem 2rem 0;
  text-transform: uppercase;
  color: #999;
  font-weight: 700;
  letter-spacing: 1px;
}
form .field input,
form .field textarea {
  display: block;
  width: 100%;
  padding: .5rem 2rem 1.5rem;
  font-size: 1.8rem;
  border: 0;
  color: #212121;
  outline: 0;
}
form .field textarea {
  min-height: 150px;
  resize: vertical;
}
